html,body{
    height: 150vh;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    background-color: rgb(241, 237, 237);
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    
}

#bigcard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    float: left;
    margin-left: 50px;
    flex-direction: row;
}
.bigcard{
    position: relative;
    background-color: black;
    /* background-image: url("{{ asset('img/bigcard.gif') }}"); */
    width: 60rem;
    height: 21.1rem;
    border-radius: 25px 0px 0px 25px;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.bigcard img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:center;
    border-radius: 25px;
    filter: brightness(60%);
}

.bigcard-text {
    position: absolute; 
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    color: white; 
    text-align: center; 
    padding: 20px;
}

.bigcard-text h1,
.bigcard-text p {
    z-index: 2; 
}

#mini-information-container{
    position: relative;
    margin-left: 5px;
}

#buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 25rem;
    right: 90rem;
}

#userbuttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.8rem;
}

#divider1{
    position: relative;
    left: 0.5rem;
    
    
}

#user-buttons1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-buttons1 button{
    width: 33rem;
}

#card-balance{
    width: 33rem;
    height: 13.5rem;
}

#recommend-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 3rem;
    float: left;
    margin-left: 50px;
}

#recommend,#recommend2,#recommend3,#recommend4{
    width: 22rem;
    height: 8rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#recommend2,#recommend3{
    width: 25.4rem;
}

#recommend4{
    width: 27.4rem;
}

#icon-box{
    width: 7rem;
    height: 6rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#recommend-text{
    display: flex;
    flex-direction: column;
}


#recommend-title{
    position: relative;
    top:13rem;
    right: 107.4rem;
}

#coffeebox1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 45rem;
    margin-left:3.4rem;
}

.fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  



/* #viewcart-display{
    display: none;
} */

#viewcart-container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999;
}

#viewcart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 40rem;
    background-color: white;
    z-index: 9999;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}




/* !!! FOR DONATION CAT AREA */


#donation-text{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 7.5rem;
    width: 30rem;
}

#donation{
    position: relative;
    left: 7.5rem;
    width: 30rem;
}

#donation-card1,#donation-card2{
    margin-bottom: 2rem;
}